{% extends 'backoffice.html.twig' %}

{% block title %}Gestion tags{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! 🏷️</h1>
    <p>Nombre de tag dans la table: {{ tags | length }}</p>
    <div>
        <div>
            {{ form(form) }}
        </div>
        {% if tags | length > 0 %}
        <div>
        <table class="table table-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Tags</th>
            <th scope="col">Modifier / Supprimer</th>
        </tr>
        {% for tag in tags %}
        <tr>
            <th scope="row">{{ tag.id }}</th>
            <td>{{ tag.title }}</td>
            <td>
                <a href="{{url('admin_tag_update', {'id': tag.id})}}" class="btn btn-warning">Modifier</a>
                <a href="{{url('admin_tag_delete', {'id': tag.id})}}" class="btn btn-danger" onclick= "return confirm('Vous êtes sûr de vouloir supprimer?')">Supprimer</a>
            </td>
        </tr>
        {% endfor %}
        </table>
        </div>
        {% else %}
        <p>Aucun tag pour l'instant</p>
        {% endif %}
    </div>


</div>
{% endblock %}
